$enable-gradients: true;
$headings-font-weight: 700;
$headings-margin-bottom: 1rem;
$primary: #e60000;
$dark: #1e1e1e;
$custom-range-track-bg: #8f8e8e;

@import '~bootstrap/scss/bootstrap.scss';

html {
  height: 100%;
}
body {
  height: 100%;
  background-color: $gray-100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  max-width: 100%;
}
.App {

}