$enable-gradients: true;
$headings-font-weight: 700;
$headings-margin-bottom: 1rem;
$secondary: #ced4da;
//$primary: #e60000;
//$orange: #ff9500;
//$warning: $orange;
$dark: #1e1e1e;

@import '~bootstrap/scss/bootstrap.scss';

html {
  height: 100%;
}
body {
  height: 100%;
  background-color: $gray-100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  max-width: 100%;
}
.App {

}

.pomodoro-clock {
  width: 375px;
  max-width: 100%;
  margin: 0 auto;
}